@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Outfit', sans-serif !important;
}

@layer components {
  .activeNav {
    @apply text-neutral-900 underline underline-offset-4;
  }
  .primaryBtn {
    @apply rounded-full border border-orange-700 bg-white px-5 py-2 text-center font-bold text-neutral-900 transition-all hover:bg-orange-50;
  }
  .secondaryBtn {
    @apply rounded-full border bg-white px-5 py-2 text-center font-bold text-neutral-900 transition-all hover:scale-105;
  }
  .primaryInput {
    @apply w-full rounded-lg border p-2 text-neutral-800 outline-none;
  }
  .bgOrangeBtn {
    @apply rounded-lg bg-orange-500 px-5 py-2 text-center text-white transition-all hover:bg-orange-600;
  }
  .bgDangerBtn {
    @apply rounded-lg bg-red-100 px-5 py-2 text-center text-neutral-900 transition-all hover:bg-red-200 disabled:cursor-not-allowed disabled:bg-red-50 disabled:text-neutral-500;
  }
  .bgBlackBtn {
    @apply rounded-lg bg-black px-5 py-2 text-center text-neutral-100 transition-all hover:bg-black disabled:cursor-not-allowed disabled:bg-black/10 disabled:text-neutral-500;
  }
}

.slowDownToptoBottom {
  animation: slowDownToptoBottom 0.5s ease;
}
@keyframes slowDownToptoBottom {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
